<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .center {
            margin-left: 600px;
            width: 60%;
            padding: 10px;
            
        }

        .floatRight{float:right;margin-right:550px}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <title>login</title>
    <h1>Log in Page</h1>
    
</head>
<body class="center">
    <img src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Login-128.png" alt="some pic" class="floatRight">
<form action="/" method="POST">
    username <input type="text" name="username"> <br/><br/>
    password <input type="password" name="pwd"  style="border: 4px soild black;"><br/><br/>
    <input type="submit" value="login" class="btn btn-primary" style="border: 4px soild black;">
</form>
</body>
</html>