<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .center {
            margin: auto;
            width: 60%;
            border: 3px solid gray;
            padding: 10px;
        }

        .floatRight{float:right;margin-left:20px}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <title>search movie</title>
    <h1>search movie</h1>
</head>

<body class="center">
    <img class="floatRight"
    src="https://uploads-ssl.webflow.com/5807a956fe2db6c822d33c85/5b676a135b239d833036183e_search-icon.png"
    alt="cinima pic">
    <form action="/main/searchmovie" method="POST" >
        Name : <input type="text" name="movieTitle" placeholder="Enter Movie Name"><br />
        <br/>
        Generes <select name="moviegenere" class="form-select" aria-label="Default select example" >
            <% data.onlyfilterGeneres.forEach(function(y) { %>
                <option value="<%= y %>">
                    <%= y %>
                </option>
                <% }) %>
        </select><br />
       <br/>
        Language  <select class="form-select" aria-label="Default select example" name="movielanguage">
            <% data.onlyfilterLengauge.forEach(function(y) { %>
                <option value="<%= y %>">
                    <%= y %>
                </option>
                <% }) %>
        </select><br />
        <br/>
        <input type="submit" value="Search" class="btn btn-primary"><br />
    </form>
    <br/>
    <a href="/main">back</a>
</body>

</html>